body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: auto;
    padding: 2rem;
    background-color: white;
}

.tool-card {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0.7rem;
    background-color: #BFBFBF;
    border-radius: 2rem;
    transition: 0.3s;
    font-weight: 600;
}

.tool-card:hover {
    background-color: #a6a6a6;
}

h1 {
    text-align: initial;
}

a {
    text-decoration: none;
    color: inherit;
}

#coin {
    transition: 0.25s;
}
